*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack:#222;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGrey:#d3d2d2;
$mainTransition :all 0.3s linear;


body {
  font-family: 'Noto Sans JP', sans-serif;
  background: #e9e0e0;
  // color: $mainGreen;
}